@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@100;700&display=swap');

/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(236, 233, 233);
}
h1, h2,h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.login, .register{
    background: white;
    color: black;
    margin: 2em 0;
    padding: 2em;
    
}
.react{
    display: flex;
    flex-direction: row;
}
.react p:last-child{
    margin-left: 1em;
}
.comments{
    display: none;
}

.react img{
    margin-right: 1em;
}
.react img:last-child:hover{
    cursor: pointer;
}

.asteriskField {
    display: none;
}
