{% extends 'base.html' %}
{% block content %}
    <div class="row content-section">
        <div class="col-sm-12">
                <div class="card mt-1">                    
                    
                    <img class="card-img-top mt-1" src="{{object.image_url.url}}" alt="{{object.url}}" title="{{object.url}}" style="height: 50vh; width:100%;object-fit:cover;">
                    <div class="card-body">
                        <div class="react">
                            <img data-toggle="collapse" data-target="#commentSec{{object.id}}" src="https://img.icons8.com/metro/26/000000/comments.png"/></a>
                        </div>
                        
                        <p class="card-text">{{object.desc}}</p>
                        <div class="react" style="justify-content: space-between;">
                            <div class="react">
                                <p>{{object.comment_set.all | length}} Comments</p>
                            </div>
                            {% if object.user == user %}
                            <div class="react">
                                <a href="{% url 'update-post' object.id %}" class="btn btn-outline-secondary">Update Post</a>
                                <a href="{% url 'delete-post' object.id %}" class="btn btn-outline-danger ml-2">Delete Post</a>
                            </div>
                            {% endif %}                           
                        </div>
                        
                        <div class="card-footer collapse" id='commentSec{{object.id}}'>                            
                            {% for comment in object.comment_set.all %}
                                <small>{{comment.content}}</small><br>
                            {% endfor %}
                            <form class="form-inline" action="{%url 'addcomment' object.id%}" method="POST">   
                                {% csrf_token %}                         
                                <div class="form-group">
                                <input type="text" class="form-control" id="comment" placeholder="Comment" name="comment">
                                </div>
                                <button type="submit" class="btn btn-outline-primary ml-2">Post</button>
                            </form>
                        </div>
                        
                    </div>
                </div>

        </div>
        

    </div>
{% endblock %}